.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(125, 202, 238);
    padding: 0 20px;
}

.chat-name {
    color: rgb(5, 15, 105);
    font-size: 16px;
}

.authors_list {
    color: rgb(231, 231, 231);
    font-weight: 600;
}