.message_header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.message_container {
    width: 60%;
    padding: 0 10px;
    border: solid rgb(88, 236, 113) 1px;
    margin-top: 10px;
    background-color: rgb(168, 248, 185);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);;
}

.author {
    padding: 0;
    margin: 0 10px;
    color: rgb(102, 102, 240);
}

.date {
    padding: 0;
    margin: 0 10px;
    color: rgb(129, 129, 129);
}

.message_txt {
    margin: 0;
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.651);
    font-weight: 500;
}

.robot {
    border: solid rgb(88, 182, 236) 1px;
    background-color: rgb(173, 195, 236);
}

.position {
    display: flex;
    justify-content: flex-end;
}